<div class="home container-fluid text-center">
  <h1 class="text-center">
    Express yourself and <br> share your passions.
  </h1>
  <p class="text-center text-white">
    Alpha Blog, enables you to capture and share the things that matter to you.
    on
  </p>
  <%= link_to "Sign Up - It's free.", signup_path, class: "p-3 btn btn-primary btn-lg" %>
</div>


