// $primary: #098DBA;

$theme-colors: (
  "primary":    #144474,
  "success":    #06D6A0,
  "info":       #2C62A6,
  "warning":    #FAC954,
  "danger":     #EF476F
);

// $btn-border-radius-lg: 24px;
// // #FC4A1A
// //#F7B733
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Arvo|PT+Sans:400,700');
@import "font-awesome";

/* Global */ 

html {
	* {
		margin: 0;
		padding: 0;
		font-size: 17px;
	}
}

body {
	// width: 100wh;
	// height: auto;
	// font-size: 20px;
 // background-image: url('jungle.png');
	// background-attachment:fixed;
	// background-size:cover; 
	// background-repeat:no-repeat;
	
	// background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	// background-size: 400% 400%;
	// -webkit-animation: Gradient 15s ease infinite;
	// -moz-animation: Gradient 15s ease infinite;
	// animation: Gradient 15s ease infinite;
}

// @-webkit-keyframes Gradient {
// 	0% {
// 		background-position: 0% 50%
// 	}
// 	50% {
// 		background-position: 100% 50%
// 	}
// 	100% {
// 		background-position: 0% 50%
// 	}
// }

// @-moz-keyframes Gradient {
// 	0% {
// 		background-position: 0% 50%
// 	}
// 	50% {
// 		background-position: 100% 50%
// 	}
// 	100% {
// 		background-position: 0% 50%
// 	}
// }

// @keyframes Gradient {
// 	0% {
// 		background-position: 0% 50%
// 	}
// 	50% {
// 		background-position: 100% 50%
// 	}
// 	100% {
// 		background-position: 0% 50%
// 	}
// }


.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}




/* Navbar */

#logo {
  -webkit-text-stroke: 5px white;
}

.navbar-brand > span {
  vertical-align: 5px;
}

// .login-signup {
//   border-radius: 18px;
//   padding: 0.9em 0.9em;
// }

.listing {
  list-style: none;
  padding-left: 0;
}

/* Home */

#showcase {
	background-image: url('jungle.png');
	background-position: center;
	background-size: cover;
	color: #FFF;
	height: 100vh;
	// padding: 0 20px;
}

#showcase h1 {
	color: #D87E51;
	font-size: 2.6em;
	line-height: 0.90em;
}

#showcase p {
	color: #1E222D;
	margin-top: 20px;
	font-size: 1.3em;
	line-height: 1.3em;
}

#showcase .card {
	background-color: #FAC954;
	border-radius: 20px;
	padding: 5rem 3rem 5rem 3rem;
}

#showcase a {
	border-radius: 10px;
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 30px;
	padding: 10px 20px;
	text-decoration: none;
	
}

@media only screen and (max-width: 575.98px) {
	.card-body {
  	padding: 0.25rem
  }
  
  #showcase a {
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  	display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #showcase .card {
  	padding: 1em;
  }
  #showcase button {
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  	display: block;
    width: 100%;
  }
  
}

@media only screen and (max-width: 991.98px) {
	#showcase .card {
  	padding: 1em;
  }
}

@media only screen and (max-width: 1199.98px) {
	#showcase .card {
  	padding: 1em;
  }
}



/* Footer */

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid #eaeaea;
//   color: #777;
// }

// footer a:hover {
//   color: #222;
// }

// footer small {
//   float: left;
// }

// footer ul {
//   float: right;
//   list-style: none;
// }

// footer ul li {
//   float: left;
//   margin-left: 15px;
// }
