// $primary: #098DBA;

$theme-colors: (
  "primary":    #118AB2,
  "success":    #06D6A0,
  "info":       #073B4C,
  "warning":    #FFD166,
  "danger":     #EF476F
);

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cardo|Oswald:400,700');
@import "font-awesome";

body {
  background-color: #073B4C;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logo {
  -webkit-text-stroke: 5px white;
}

.navbar-brand > span {
  vertical-align: 5px;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  color: #FFD166;
}

.home h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 6.5em;
  color: #FFD166;
  letter-spacing: 0px;
  line-height: 92px;
  margin-top: 75px;
  font-weight: bold;
}
.btn-xlarge {
  font-size: 2.7em;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}